body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    font-family: cursive;
    color: red;
    font-size: 1.3vw;
}

.content {
    gap: 1%;
}

div {
    display: flex;
    width: 100%;
    height: 30vh;
}

div img {
    height: 100%;
    margin: 0 15px 0 15px;
}

.segs {
    flex-direction: column;
}

.hero {
    justify-content: center;
    align-items: center;
    border-width: 15px 0;
    border-color: rgb(0, 255, 21);
    border-radius: 15px;
}

.herotext {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.segtext {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2vw;
    padding-left: 20px;
}


.sidebar {
    width: 50%;
    flex-direction: column;
}


h2, h1 {
    color: rgb(11, 65, 11);
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}